body {
  height: 100vh;
  width: 100vw;
  background: fixed url(./assets/background.jpg);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin: 20px 0;
  font-size: 2.5rem;
}

h2 {
  margin: 10px 0;
  font-size: 1.8rem;
}

h3 {
  margin: 5px 0;
  font-size: 1.3rem;
}

button {
  padding: 20px 10px;
  border: none;
  border-radius: 50%;
  font-weight: bold;
}

.main {
  flex: 1;
  display: flex;
}

.game {
  position: relative;
  margin: auto;
  padding: 50px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid whitesmoke;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  border-radius: inherit;
}

.setup,
.results {
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid whitesmoke;
  background-color: grey;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.setup-players {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.setup-player {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.setup-player-title {
  align-self: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.grid-description {
  color: whitesmoke;
  font-size: 1.5rem;
}

.grid {
  border: 1px solid gainsboro;
  display: grid;
  grid-template-columns: repeat(10, 35px);
  grid-template-rows: repeat(10, 35px);
}

.grid-cell {
  border: 1px solid rgba(220, 220, 220, 0.9);
}

#right-grid > .grid-cell:hover {
  background-color: rgba(245, 245, 245, 0.3);
}

.footer {
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.hidden {
  display: none !important ;
}
